.elementor-kit-5{--e-global-color-primary:#FFC548;--e-global-color-secondary:#54595F;--e-global-color-text:#FFFFFF;--e-global-color-accent:#61CE70;--e-global-typography-primary-font-family:"Sora";--e-global-typography-primary-font-size:44px;--e-global-typography-primary-font-weight:600;--e-global-typography-secondary-font-family:"Roboto Slab";--e-global-typography-secondary-font-weight:400;--e-global-typography-text-font-family:"Sora";--e-global-typography-text-font-size:18px;--e-global-typography-text-font-weight:400;--e-global-typography-accent-font-family:"Roboto";--e-global-typography-accent-font-weight:500;background-color:transparent;background-image:linear-gradient(213deg, #000000 0%, #000000 100%);}.elementor-kit-5 e-page-transition{background-color:#FFBC7D;}.elementor-section.elementor-section-boxed > .elementor-container{max-width:1500px;}.e-con{--container-max-width:1500px;}.elementor-widget:not(:last-child){margin-block-end:20px;}.elementor-element{--widgets-spacing:20px 20px;--widgets-spacing-row:20px;--widgets-spacing-column:20px;}{}h1.entry-title{display:var(--page-title-display);}.site-header{padding-inline-end:0px;padding-inline-start:0px;}@media(max-width:1080px){.elementor-section.elementor-section-boxed > .elementor-container{max-width:1024px;}.e-con{--container-max-width:1024px;}}@media(max-width:930px){.elementor-section.elementor-section-boxed > .elementor-container{max-width:630px;}.e-con{--container-max-width:630px;}}/* Start custom CSS */body, html {
overflow-x: hidden !important;
}

/Corrigir escrollamento no Mobile/
@media (max-width: 786px){
body, html {
overflow-x: hidden!important;
}
}
.page-id-938 .site-header {display:none;}
.page-id-938 .site-footer {display:none;}/* End custom CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'Sora';
	font-style: normal;
	font-weight: 400;
	font-display: auto;
	src: url('../fonts/Sora-Regular.eot');
	src: url('../fonts/Sora-Regular.eot#iefix') format('embedded-opentype'),
		url('../fonts/Sora-Regular.woff2') format('woff2'),
		url('../fonts/Sora-Regular.woff') format('woff'),
		url('../fonts/Sora-Regular.ttf') format('truetype'),
		url('../images/Sora-Regular.svg#Sora') format('svg');
}
@font-face {
	font-family: 'Sora';
	font-style: normal;
	font-weight: 600;
	font-display: auto;
	src: url('../fonts/Sora-SemiBold.eot');
	src: url('../fonts/Sora-SemiBold.eot#iefix') format('embedded-opentype'),
		url('../fonts/Sora-SemiBold.woff2') format('woff2'),
		url('../fonts/Sora-SemiBold.woff') format('woff'),
		url('../fonts/Sora-SemiBold.ttf') format('truetype'),
		url('../images/Sora-SemiBold.svg#Sora') format('svg');
}
/* End Custom Fonts CSS */